*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container
{
    background-color: aqua;
    height:500px;
    width:70%;
    position: relative;
    left:15%;
    margin-top:8%;
}
.heading
{
    text-align: center;
    padding-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}
.incrementBtn
{
    height:35px;
    width:5%;
    margin-left:3%;

}
.decrementBtn
{
    height:35px;
    width:5%;
    margin-left:43%;
    margin-top:2%;
}
.resetBtn
{
    height:38px;
    width:12%;
    margin-top:2%;
    font-size: 19px;
    margin-left:44%;
}
.countValue
{
    height:42px;
    width:14%;
    position:absolute;
    margin-top:2%;
    margin-left:45%;
    font-size: 28px;
}
.evenOrOdd
{
    position: absolute;
    margin-top:8%;
    margin-left:39%;
    font-size: 28px;
}
.primeOrNot
{
    position: absolute;
    margin-top:14%;
    margin-left:39%;
    font-size: 28px;

}
